JWT_PASSPHRASE=$3cret!
APP_SECRET=s£cret!
DATABASE_URL="postgresql://app:!secret!@127.0.0.1:5432/app?serverVersion=17&charset=utf8"
TRUSTED_HOSTS='^app\.example\.com'
CORS_ALLOW_ORIGIN='^https?://app\.example\.com(:[0-9]+)?$